body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#grid {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
}

.on {
    background-color: black;
}
